.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
}

.footer__credits {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
}

.footer__credits a {
  text-decoration: none;
  color: #ffa500;
}
